
.largebox {
  width: 100%;
  height: 600px;
  background-color: rgba(0,0,0,0.1);
  padding-top: 50px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* PRODUCTS SECTION BOX */

.lease-info {
  width: 550px;
  height: 550px;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.3);
  margin: 0 auto;
  position: relative;
  display: block;
}

.basic-box {
  width: 280px;
  height: 350px;
  background-color: #337ab7;
  left: 0;
  top: 0;
  position: absolute;
  line-height: 150px;
}

.basic-box:hover p {
  font-size: 1.5em;
  font-weight: lighter;
}

.non-exclusive-box {
  width: 280px;
  height: 201px;
  background-color: #2ecc71;
  left: 0;
  top: 350px;
  position: absolute;
  line-height: 250px;
}

.non-exclusive-box:hover p {
  font-size: 1.5em;
  font-weight: lighter;
}

.exclusive-box {
  width: 272px;
  height: 302px;
  background-color: #8e44ad;
  left: 280px;
  top: 250px;
  position: absolute;
  line-height: 150px;
}

.exclusive-box:hover p {
  font-size: 1.5em;
  font-weight: lighter;
}

.copyrights-box {
  width: 272px;
  height: 250px;
  background-color: #ce392b;
  left: 280px;
  top: 0px;
  position: absolute;
  line-height: 250px;
}

.copyrights-box:hover p {
  font-size: 1.5em;
  font-weight: lighter;
}

/* block properties */

.block {
  text-align: center;
  -webkit-animation: scaledown .4s linear;
  animation: scaledown .4s ease;
  transform-origin: 50% 50%;
}

.block:hover {
  z-index: 100;
  -webkit-animaation: scaledown .4s ease;
  animation: scale 0.4s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

.block a {
  text-decoration: none;
  color: #fff;
}

.block a:hover {
  font-weight: bold;
}

@keyframes scaledown {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100%{
    -webkit-transform: scale(1.0);
    transition: scale(1.0)
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1.1)
    transition: scale(1.1);
    box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.3);
  }
}

/* Linear lease area */

.lease-content {
  height: 90%;
  width: 100%;
  background-color: rgba(255,255,255,0.1);
}

/* each column */

.basic-nexr {
  width: 20%;
  height: 100%;
  background-color: rgba(255,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.nexr {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

.exr {
  width: 20%;
  height: 100%;
  background-color: rgba(0,255,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.excr {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,255,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

/* MIXING AND MASTERING SECTION BOX */

.mix-master-content {
  height: 90%;
  width: 100%;
  background-color: rgba(255,255,255,0.1);
}

/* each column */

.basic {
  width: 20%;
  height: 100%;
  background-color: rgba(255,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.prem {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

.prem-plus {
  width: 20%;
  height: 100%;
  background-color: rgba(0,255,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.generic {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,255,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}


/* MIXING ONLY SECTION BOX */

.mix-content {
  height: 90%;
  width: 100%;
  background-color: rgba(255,255,255,0.1);
}

/* each column */

.lt-mix {
  width: 20%;
  height: 100%;
  background-color: rgba(255,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.lt-ex-mix {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

.ut-mix {
  width: 20%;
  height: 100%;
  background-color: rgba(0,255,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.ut-ex-mix {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,255,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

/* MASTERING ONLY SECTION BOX */

.master-content {
  height: 90%;
  width: 100%;
  background-color: rgba(255,255,255,0.1);
}

/* each column */

.lt-mas {
  width: 20%;
  height: 100%;
  background-color: rgba(255,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.lt-ex-mas {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

.ut-mas {
  width: 20%;
  height: 100%;
  background-color: rgba(0,255,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.ut-ex-mas {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,255,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}


/* BUNDLES SECTION BOX */

.bundles-content {
  position: relative;
  height: 90%;
  width: 100%;
  background-color: rgba(255,255,255,0.1);
}

.ep {
  width: 20%;
  height: 100%;
  background-color: rgba(255,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.mix-tape {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

.album {
  width: 20%;
  height: 100%;
  background-color: rgba(0,255,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

/* ARTWORK AND DESIGNS SECTION BOX */

.ad-content {
  position: relative;
  height: 50%;
  width: 100%;
  top:10%;
  background-color: rgba(255,255,255,0.1);
}

/* each column */

.cover-art {
  width: 20%;
  height: 100%;
  background-color: rgba(255,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.video-art {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

.logo-design {
  width: 20%;
  height: 100%;
  background-color: rgba(0,255,0,0.1);
  float: left;
  border: solid black;
  border-width: thin;
}

.lyric-video {
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,255,0.1);
  float: left;
  border: solid black;
  border-width: thin;
  margin: 0 2%;
}

/* box content */

.container h2 {
  text-align: center;
  font-family: sans-serif;
}

.container p {
  text-align: center;
  font-family: sans-serif;
}

/* OUR TEAM SECTION BOX */

.team-content {
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.1);
}

.employee-info {
  height: 100%;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.1);
}

.employee-box {
  height: 100%;
  width: 60%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.bio {
  width: 100%;
  margin: 50px auto;
  background-color: rgba(15, 158, 200, 0.1);
  border: solid black;
  border-width: thin;
  text-align: center;
  padding: 10px;
}

.bio h3{
  font-family: georgia;
  font-size: 1.8em;
  font-style: italic;
  margin-top: 0;
}

.bio p {
  font-size: 16px;
}

.bio-head h2{
  position: relative;
  text-align: center;
  font-family: georgia;
  font-size: 2.5em;
  margin: -20px auto;
  z-index: 1;
}

.banner {
  position: relative;
  background-color: lightblue;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  z-index: 0;
}

.bio-head img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
